extends layout

block content
	h1= title
	p Welcome to change password
	div
		form(method="post")
			input(type="text" name="_id", value="5b8a9dac0527b58133000001")
			input.form-control(type="text", name="current", placeholder="Senha atual")
			input.form-control(type="text", name="new", placeholder="Nova senha")
			input.form-control(type="text", name="newConfirm", placeholder="Confirmar nova senha")
			input.btn.btn-primary(type="submit")